# python
.venv/
venv/
__pycache__/
*.egg-info/
.python-version

# general cache
.cache/
temp/
tmp/
dist/
build/
dev/
volumes/
.DS_Store
*.log

# local files
**extra_model_paths.yaml
docker/compose.yml
docker/scripts/pre-start/**
docker/scripts/post-init/**
docker/scripts/post-install-node/**

# exclude examples
!**.example
!**example.*
!**.keep
